body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

table{
margin:auto;
border-collapse:collapse;
width:50%;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
}

h1{
margin-top:40px;
}